{% extends "base.html" %}

{% block title%}Мегапарсер hh{% endblock %}

{% block content %}
<h1>
    Мегапарсер hh.ru
</h1>
<h2>
    Это главная страница
</h2>
<h3>Информация о системе</h3>

<p>Этот сайт выполняет запросы к hh.ru по API,
    получает вакансии по заданным критериям поиска,
    парсит ответ и анализирует необходимые навыки.</p>
<p>Можно задать различные параметры поиска</p>
{% endblock %}

<div class="alert alert-success" role="alert">
<p>
    {% block jok%}Если вы начинаете сгонять муху с монитора при помощи курсора мыши, пора выключать компьютер {% endblock %}
</p>
</div>
