{% extends "base.html" %}

{% block title%}Список запросов{% endblock %}

{% block content %}
<h1>
    Список запросов
</h1>
<a class="btn btn-secondary" href="{% url 'blog:req_create' %}">Создать новую запись в БД</a>
<br><br>
<ul>
    {% for item in object_list %}
        <li>
            <a class="btn btn-secondary" href="{% url 'blog:req_update' pk=item.pk %}">Изменить</a>
            /
            <a class="btn btn-secondary" href="{% url 'blog:req_delete' pk=item.pk %}">Удалить</a>
            {{item.id}}
            <a href="{% url 'blog:req_detail' pk=item.pk %}">{{item.keywords}}</a>
        </li>
    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</ul>
{% endblock %}

<div class="alert alert-success" role="alert">
<p>
    {% block jok%}Функция будильника еще поспать ввела программиста утром в бесконечный цикл{% endblock %}
</p>
</div>
