Знания принципов работы программноопределяемых хранилищ данных. Опыт проектирования баз данных. Опыт проектирования API.
Опыт работы с C/C или GO 3 лет. Опыт разработки под Linux и Unixbased операционные системы. 
Вы быстро и интересом обучаетесь новому. Вы инициативный. Вы дружите с математикой и алгоритмами.
1year program. First “real” professional experience. Paid Internship. Graduate student/ Masters student. English  upperintermediate. MS Office. 
1year program. First “real” professional experience. Paid Internship. Graduate student/ Masters student. English  upperintermediate. MS Office. 
1year program. First “real” professional experience. Paid Internship. Graduate student/ Masters student. English  upperintermediate. MS Office. 
Bachelor's or Master’s degree in Computer Science, a related technical field, or equivalent practical experience. 5 years experience...
Ты должен знать, понимать и применять: — Опыт коммерческой разработки на Golang от 2х лет. — Хорошее понимание асинхроннособытийного и...
Активная жизненная позиция, нацеленность на результат.  Коммуникабельность, ответственность.  Аналитический склад ума.  Уверенный пользователь ПК (Word, Excel), 1С.  
1. Разработчика уровня джуниор или мидл  необходимо иметь опыт на GO/Golang в продуктовой разработке не менее полугода. 
1. Разработчика джуниор или мидл уровня  необходимо иметь опыт на GO/Golang в продуктовой разработке не менее полугода. 
Обладаете опытом разработки на Golang от 2х лет. Понимаете принципы конкурентного/параллельного программирования. Понимаете особенности сервисной и микросервисной архитектуры. 
Знания о структурах данных и алгоритмах. Опыт разработки многопоточного кода. Умение анализировать проблемы с производительностью. Хорошее понимание HTTP и TCP...
Знание языка Go на уровне Middle/Middle. Знание языка PHP будет плюсом. Знание MySQL/MariaDB (мы ценим хорошее знание и...
Уверенное владение одним из языков программирования: Go/Kotlin/Java/C/Python/Scala. Опыт разработки сложных проектов. Знание классических алгоритмов и...
Уверенное владение Go. Знание базовых алгоритмов и структур данных. Понимание устройства ОС Linux или Unix. Базовое знание сетей и протоколов...
Высшее образование в области IT либо иное высшее техническое образование. Стаж в качестве backend разработчика не менее 2 лет. 
Опыт от года в проектах схожего функционала ОБЯЗАТЕЛЕН. Готовность работать в режиме многозадачности. Хорошие коммуникационные навыки, ориентированность на интересы клиента...
Опыт разработки на языке Golang — от 2 лет. Хорошие знания SQL. Опыт работы с реляционными и нереляционными БД (PostgreSQL, Redis). 
Умение программировать на Go (от мелких CLIутилит до серьезных демонов). Свободное владение Linux (сконфигурить и поднять nginx через systemd...
