Высшее образование. Знание и применение С#, .NET, WPF и/или UWP, ООП, MVVM, Visual Studio.
Высшее техническое образование. Опыт работы в разработке от 3 лет. С#, asp.net, asp.net core. Entity Framework, LINQ. PostgreSQL. 
Опыт разработки приложений под .NET (C#) или желание и готовность перейти на наш стек в течение испытательного срока. 
Хорошие знания .NET, C#. Знание ООП (умение проектировать простые системы классов). Понимание, как эффективно обработать данные и умение оценить сложность...
более 10 000 пользователей могут работать в системе одновременно. Опыт коммерческой разработки на С# от 2 лет. Опыт работы с...
С#, WPF WCF, MS SQL Server. Плюсом будет знание С и Win32. Требования: Высшее образование. Опыт работы от 3...
None
Владение следующими технологиями и инструментами: C#. .NET. Angular 8 и выше. MS SQL Server. Средствами коллективной разработки ПО. 
Хорошее/отличное знание C# (Многопоточность, async await , интерфейсы, коллекции, ООП, работа с файлами). Знание паттернов и принципов проектирования кода. 
Базовый опыт работы с Linux. Fullstack разработчик (C#, ASP.NET/Core/MVC/API, JavaScript, Vue.js). Опыт разработки на платформе .NET, желательно...
Deep knowledge and at least 3 years of handson experience with C#. Deep understanding of OOP/OOD, design patterns. 
У Вас хорошие знания и есть опыт в: C#, ASP.NET, .Net Core(будет плюсом), SQL, Git. Будет плюсом: 1. 
...и C#  профессиональный опыт от 3х лет. Опыт запущенных проектов. Знание и применение паттернов при разработке на C#, понимание...
Способность к быстрому обучению и вовлечению в проекты. C#, .Net Core (3.1 и выше). Entity Framework. PostgreSQL, MS SQL. 
Знаете сетевой стек tcp/ip, и имеете опыт написания сетевых приложений в C#. Имеете опыт разработки многопоточных программ в C#. 
Хорошие знания C# (Основы, Linq, Asynchronous programming, Reflection, Expressions). Опыт разработки .NET Core 6 (Web API, Hosted services):  версионность (методов...
Опыт разработки приложений с использованием C# и ASP.NET. Опыт работы с WPF и WCF. Знание SQL (MS SQL). 
Высшее профильное образование. Уверенное знание технологий баз данных (создание/изменение структуры базы данных; написание запросов/хранимых процедур; оптимизация запросов; умение...
Уверенные знания С# и .NetFramework, практический опыт коммерческой разработки. Высшее техническое образование/45 курс ВУЗа.
Уверенные знания С# и .NetFramework, практический опыт коммерческой разработки. Способность по большей части самостоятельно решить задачу в разумные сроки. 
